__pycache__/
*.pyc
*.pyo

build/
dist/install/*
!dist/install/mods/
dist/install/mods/*
!dist/install/mods/mod_mt_legend_exporter.mtmod
dist/install/mods/configs/

server_example/storage/

.DS_Store
Thumbs.db
